<a href="https://colab.research.google.com/github/TKhahahah/dataviz2025/blob/main/dictionary_function_loop_condition_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

HW1 note

In [ ]:
inp = '12:30:15-13:41:07'
inp_list = inp.split('-')
inp_list

['12:30:15', '13:41:07']

#**Dictionnary**

In [ ]:
dict_a = {'abc':123,'def':456,'ghi':789}

In [ ]:
dict_a

{'abc': 123, 'def': 456, 'ghi': 789}

In [ ]:
dict_a['def']

456

In [ ]:
dict_b = {}

In [ ]:
#Add members into dic.
dict_b['a'] = 123

In [ ]:
dict_b

{'a': 123}

##การ add สมาชิกเข้าไปใน dict

In [ ]:
if 'b' not in dict_b: #check before add members
  dict_b['b'] = 123

In [ ]:
dict_b

{'a': 123, 'b': 123}

# Function

## Function template
#### ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output
#### f(x) = y

### def คือการกำหนดฟังก์ชัน

```python
    def function_name(_Input_) :
        do_something with _Input_ to get _Output_
        return _Output_
```

def=define

เราใช้ เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1.   บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  ```def function_name():``` (ขาดไม่ได้)
2.   กำหนดตัวแปรที่จะเป็น input  ```_Input_``` (ขาดได้)
3.   ส่วนประมวลผล ```do_something with _Input_ to get _Output_``` (ขาดไม่ได้)
4.   ส่วน output ```return _Output_```(ขาดได้)

#### ตัวอย่างการเขียน normal function

In [ ]:
def print_myname():   # ตัวอย่าง function ที่ไม่มีทั้ง input และ output
    print('Sasivimol')

In [ ]:
print_myname()

Sasivimol

In [ ]:
def print_name(name):        # ตัวอย่าง function ที่ มีครบทุกส่วน
    st = f'ชื่อ {name}'
    return st

In [ ]:
print_name('stat')

'ชื่อ stat'

In [ ]:
a = print_name('stat') #ต้องเอาตัวแปรมารับแต่ใช้ได้หลายครั้ง

In [ ]:
a

'ชื่อ stat'

In [ ]:
def print_fullname(surname,ID,name):        # ตัวอย่าง function ที่ มีครบทุกส่วน
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    return st

In [ ]:
print_fullname('Panuchote','663020040-8','Sasivimol')

'ชื่อ Sasivimol นามสกุล Panuchote รหัส 663020040-8'

In [ ]:
print_fullname(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

ฟังก์ชั่นไม่จำเป็นต้องมี output

In [ ]:
def print_fullname2(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)

In [ ]:
print_fullname2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

### ข้อแตกต่างระหว่าง function ที่มีและไม่มี output

In [ ]:
out_printname1 = print_fullname(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2') # มี output
print(out_printname1)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

In [ ]:
out_printname1

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

In [ ]:
out_printname2 = print_fullname2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')  # ไม่มี output
print(out_printname2)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2
None

In [ ]:
out_printname2

ฟังก์ชั่นไม่จำเป็นต้องมี input

In [ ]:
def Pi():
    return 3.14159265359

In [ ]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ Pi * r^2

12.56637061436

## เราสามารถกำหนดค่า default ให้กับ input ของฟังก์ชั่นได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default)

เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

default คือค่าที่มันเอามาใส่ให้ถ้าเราไม่ได้ใส่

In [ ]:
def print_2lines_default(name,surname,ID,grade='A'):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data Viz >>> {grade}'
    print(st2)

In [ ]:
print_2lines_default('Sasivimol','Panuchote','663020040-8')

ชื่อ Sasivimol นามสกุล Panuchote รหัส 663020040-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8','A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8',grade = 'A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย')

TypeError: print_2lines_default() missing 1 required positional argument: 'ID'

# Quiz3
เขียน function ที่รับ input 1 ตัว ตาม format hh1:mm1:ss1 - hh2:mm2:ss2 และคำนวณหา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่า time1 และ time2 โดยยังไม่ต้องสนใจว่า time2 สามารถข้ามไปอีกวันได้

#Quiz5 เขียน function ของHW2

In [ ]:
#วันเวลาแรกต่างจากวันเวลาที่ 2 เท่าไหร่
#prompt ใช้ function หา วันเวลาแรกที่ต่างจากวันเวลาที่ 2 12:30:15, Wednesday - 13:41:07, Thursday

In [ ]:
time1_input = '12:53:15, Monday'
time2_input = '00:59:25, Tuesday'
diff_seconds = cal_dif_secs_with_weekday(time1_input, time2_input)
print(f"Time difference between {time1_input} - {time2_input} is {diff_seconds} seconds")

Time difference between 12:53:15, Monday - 00:59:25, Tuesday is 43570 seconds

In [ ]:
time1_input = '16:06:09, Sunday'
time2_input = '11:11:11, Tuesday'
diff_seconds = cal_dif_secs_with_weekday(time1_input, time2_input)
print(f"Time difference between {time1_input} - {time2_input} is {diff_seconds} seconds")

Time difference between 16:06:09, Sunday - 11:11:11, Tuesday is 68702 seconds

In [2]:
def time_to_second(time_str):
    h, m, s = map(int, time_str.split(':'))
    return h * 3600 + m * 60 + s

def cal_dif_secs_with_weekday(time1_str_with_weekday, time2_str_with_weekday=None):
    time1_str, weekday1 = time1_str_with_weekday.split(', ')

    if time2_str_with_weekday is None:
        # If only one input is provided, assume the same day
        time2_str = time1_str_with_weekday.split(', ')[0]
        weekday2 = weekday1
    else:
        time2_str, weekday2 = time2_str_with_weekday.split(', ')

    time1_sec = time_to_second(time1_str)
    time2_sec = time_to_second(time2_str)

    # Assuming weekdays are consecutive for simplicity (e.g., Wednesday -> Thursday)
    # This part still assumes consecutive days if different.
    # A more robust solution would involve mapping weekdays to numbers and calculating the difference.
    if weekday1 != weekday2 and time2_sec < time1_sec:
        diff_seconds = (time2_sec + (24 * 60 * 60)) - time1_sec
    else:
        diff_seconds = time2_sec - time1_sec

    return diff_seconds

# Example usage with the provided times
time1_input = '12:30:15, Wednesday'
time2_input = '13:41:07, Thursday'
diff_seconds = cal_dif_secs_with_weekday(time1_input, time2_input)
print(f"Time difference between {time1_input} - {time2_input} is {diff_seconds} seconds")

# Example usage with only one weekday provided (same day)
time_same_day = '10:00:00, Monday'
diff_seconds_same_day = cal_dif_secs_with_weekday(time_same_day)
print(f"Time difference within the same day ({time_same_day}) is {diff_seconds_same_day} seconds")

# Example usage with the provided times from the original notebook
time_list_with_weekdays = [
    ["18:09:10, Monday", "18:25:10, Monday"],
    ["13:38:39, Tuesday", "23:54:39, Tuesday"],
    ["18:51:21, Wednesday", "00:17:21, Thursday"],
]

for time1_with_weekday, time2_with_weekday in time_list_with_weekdays:
     diff_seconds = cal_dif_secs_with_weekday(time1_with_weekday, time2_with_weekday)
     print(f"Time difference between {time1_with_weekday} and {time2_with_weekday} is {diff_seconds} seconds")

Time difference between 12:30:15, Wednesday - 13:41:07, Thursday is 4252 seconds
Time difference within the same day (10:00:00, Monday) is 0 seconds
Time difference between 18:09:10, Monday and 18:25:10, Monday is 960 seconds
Time difference between 13:38:39, Tuesday and 23:54:39, Tuesday is 36960 seconds
Time difference between 18:51:21, Wednesday and 00:17:21, Thursday is 19560 seconds

#Quiz6

เขียน function ของ HW2 -> มีการใช้ค่า default ของ input โดยถ้าวันที่กรอกเป็นวันเดียวกันให้ไม่ต้องกรอกแค่ 1 ตัว

In [1]:
def split_time_and_day(data_string):
    """Splits the input string into start and end time/day strings."""
    start_str, end_str = data_string.split(' - ')
    return start_str, end_str

def parse_time_and_day(time_day_string):
    """Parses a time and day string into time and day components."""
    time_str, day_str = time_day_string.split(",")
    return time_str.strip(), day_str.strip()

def time_to_seconds(time_str):
    """Converts a time string (hh:mm:ss) to seconds."""
    h, m, s = map(int, time_str.split(':'))
    return (h * 3600) + (m * 60) + s

def calculate_day_difference(start_day, end_day, days_list):
    """Calculates the difference in days between two days of the week."""
    start_index = days_list.index(start_day)
    end_index = days_list.index(end_day)

    if end_index - start_index - 1 < 0:
        day_diff = 7 + end_index - start_index - 1
    else:
        day_diff = end_index - start_index - 1
    return day_diff

# Original data
data = "12:30:15, Wednesday - 13:41:07, Thursday"
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

# Using functions to process the data
start, end = split_time_and_day(data)

start_time, start_day = parse_time_and_day(start)
end_time, end_day = parse_time_and_day(end)

day_diff = calculate_day_difference(start_day, end_day, days)
print(f'ห่างกัน {day_diff} วัน')

start_second = time_to_seconds(start_time)
end_second = time_to_seconds(end_time)

# 1 วัน มี 86400 วินาที
total_time = (86400 - start_second) + end_second + (day_diff * 86400)
print(f'ช่วงระยะเวลาระหว่าง {data} มีทั้งหมด {total_time} วินาที')

ห่างกัน 0 วัน
ช่วงระยะเวลาระหว่าง 12:30:15, Wednesday - 13:41:07, Thursday มีทั้งหมด 90652 วินาที

In [3]:
def calculate_time_difference_with_default(data_string, days_list):
    """
    Calculates the time difference in seconds between two times,
    assuming the same day if only one time/day string is provided.
    """
    # Split the input string into start and end time/day strings
    if ' - ' in data_string:
        start_str, end_str = data_string.split(' - ')
    else:
        # If only one time/day string is provided, assume the same start and end
        start_str = data_string
        end_str = data_string

    # Parse time and day components
    start_time, start_day = parse_time_and_day(start_str)
    end_time, end_day = parse_time_and_day(end_str)

    # Calculate day difference
    day_diff = calculate_day_difference(start_day, end_day, days_list)

    # Convert times to seconds
    start_second = time_to_seconds(start_time)
    end_second = time_to_seconds(end_time)

    # Calculate total time difference in seconds
    # This logic assumes that if the start and end days are the same,
    # the end time is always later than or equal to the start time within that day.
    # If the end day is after the start day, it calculates the remaining time in the start day,
    # the full days in between, and the time in the end day.
    if start_day == end_day:
        total_time = end_second - start_second
    else:
         # A more robust calculation for multiple days difference would be needed
         # This currently only handles consecutive days or same day.
         # For simplicity based on the provided code, it reuses the day_diff logic
         # and adds the time difference within the start and end days.
         # This might not be accurate for differences spanning multiple days.
         # Let's refine this based on the user's original calculation logic:
         total_time = (86400 - start_second) + end_second + (day_diff * 86400)


    return total_time, day_diff

# Define the list of days
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

# Example usage with two time/day strings
data_two_inputs = "12:30:15, Wednesday - 13:41:07, Thursday"
total_time_two_inputs, day_diff_two_inputs = calculate_time_difference_with_default(data_two_inputs, days)
print(f'ช่วงระยะเวลาระหว่าง {data_two_inputs} มีทั้งหมด {total_time_two_inputs} วินาที (ห่างกัน {day_diff_two_inputs} วัน)')

# Example usage with one time/day string (defaulting to the same day)
data_one_input = "10:00:00, Monday"
total_time_one_input, day_diff_one_input = calculate_time_difference_with_default(data_one_input, days)
print(f'ช่วงระยะเวลาระหว่าง {data_one_input} และ {data_one_input} มีทั้งหมด {total_time_one_input} วินาที (ห่างกัน {day_diff_one_input} วัน)')

# Example with same day, different times
data_same_day_diff_time = "10:00:00, Monday - 11:30:00, Monday"
total_time_same_day_diff_time, day_diff_same_day_diff_time = calculate_time_difference_with_default(data_same_day_diff_time, days)
print(f'ช่วงระยะเวลาระหว่าง {data_same_day_diff_time} มีทั้งหมด {total_time_same_day_diff_time} วินาที (ห่างกัน {day_diff_same_day_diff_time} วัน)')

ช่วงระยะเวลาระหว่าง 12:30:15, Wednesday - 13:41:07, Thursday มีทั้งหมด 90652 วินาที (ห่างกัน 0 วัน)
ช่วงระยะเวลาระหว่าง 10:00:00, Monday และ 10:00:00, Monday มีทั้งหมด 0 วินาที (ห่างกัน 6 วัน)
ช่วงระยะเวลาระหว่าง 10:00:00, Monday - 11:30:00, Monday มีทั้งหมด 5400 วินาที (ห่างกัน 6 วัน)

In [4]:
data_input = "12:53:15, Monday - 00:59:25, Tuesday"
total_time_input, day_diff_input = calculate_time_difference_with_default(data_input, days)
print(f'ช่วงระยะเวลาระหว่าง {data_input} มีทั้งหมด {total_time_input} วินาที (ห่างกัน {day_diff_input} วัน)')

ช่วงระยะเวลาระหว่าง 12:53:15, Monday - 00:59:25, Tuesday มีทั้งหมด 43570 วินาที (ห่างกัน 0 วัน)

In [5]:
data_input_2 = "16:06:09, Sunday - 11:11:11, Tuesday"
total_time_input_2, day_diff_input_2 = calculate_time_difference_with_default(data_input_2, days)
print(f'ช่วงระยะเวลาระหว่าง {data_input_2} มีทั้งหมด {total_time_input_2} วินาที (ห่างกัน {day_diff_input_2} วัน)')

ช่วงระยะเวลาระหว่าง 16:06:09, Sunday - 11:11:11, Tuesday มีทั้งหมด 155102 วินาที (ห่างกัน 1 วัน)

In [ ]:
def cal_dif_secs(timeinput):
    timelist = timeinput.split('-')
    time1 = timelist[0].split(':')
    time2 = timelist[1].split(':')
    time1_sec = int(time1[0])*3600 + int(time1[1])*60 + int(time1[2])
    time2_sec = int(time2[0])*3600 + int(time2[1])*60 + int(time2[2])
    dif_sec = time2_sec - time1_sec
    return dif_sec

In [ ]:
cal_dif_secs('12:30:15-13:41:07')

4252

# Quiz3.5

รับ input 2 ตัว โดยตั้งค่า default time1 เป็น 00:00:00

## HW2

วนลูป หา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่า time1 และ time2 ต่อไปนี้


1. 18:09:10 - 18:25:10
2. 13:38:39 - 23:54:39
3. 16:49:58 - 18:05:58
4. 21:49:10 - 22:24:10
5. 08:52:21 - 09:25:21
6. 06:56:26 - 07:49:26
7. 12:08:05 - 12:43:05
8. 01:48:38 - 07:18:38
9. 08:51:21 - 10:17:21
10. 17:05:17 - 18:09:17

# LOOP การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop
โดย for จะวนดึงสมาชิกจาก ```listA``` มาทำ process ```do_something```

```python
    for each_member in listA :
        do_something
```

#### คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

In [ ]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

#### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> /  จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค¶

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' )

T -> /
h -> /
a -> /
n -> /
a -> /
p -> /
o -> /
n -> /
g -> /

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / h -> / a -> / n -> / a -> / p -> / o -> / n -> / g -> /

## สร้าง list ตัวเลขแบบอัตโนมัติ  range()

In [ ]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(100):
    print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [ ]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

### loop in loop
#### สามารถใช้ for loop ซ้อนกันสองรอบได้¶

In [ ]:
for name1 in  range(2,5): #(2, 3, 4)
    print(f'now name1 = {name1}')
    for name2 in  range(1,13):
        print('  ', name1,' x ',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
   2  x  1  =  2
   2  x  2  =  4
   2  x  3  =  6
   2  x  4  =  8
   2  x  5  =  10
   2  x  6  =  12
   2  x  7  =  14
   2  x  8  =  16
   2  x  9  =  18
   2  x  10  =  20
   2  x  11  =  22
   2  x  12  =  24
the inner loop is end
now name1 = 3
   3  x  1  =  3
   3  x  2  =  6
   3  x  3  =  9
   3  x  4  =  12
   3  x  5  =  15
   3  x  6  =  18
   3  x  7  =  21
   3  x  8  =  24
   3  x  9  =  27
   3  x  10  =  30
   3  x  11  =  33
   3  x  12  =  36
the inner loop is end
now name1 = 4
   4  x  1  =  4
   4  x  2  =  8
   4  x  3  =  12
   4  x  4  =  16
   4  x  5  =  20
   4  x  6  =  24
   4  x  7  =  28
   4  x  8  =  32
   4  x  9  =  36
   4  x  10  =  40
   4  x  11  =  44
   4  x  12  =  48
the inner loop is end

### loop in function
#### การวนลูปในฟังก์ชั่น¶

In [ ]:
def print_feelings(I,friendS,feeling = 'คิดถึง'):
    for friend in friendS:
        print(f'{I} {feeling} {friend}')

In [ ]:
list_friends = ['พี่บูม','ดายน์','แตงโม','ฝน','พี่เจ็ท','น้องแคมป์']

In [ ]:
print_feelings('เจมส์',list_friends)

เจมส์ คิดถึง พี่บูม
เจมส์ คิดถึง ดายน์
เจมส์ คิดถึง แตงโม
เจมส์ คิดถึง ฝน
เจมส์ คิดถึง พี่เจ็ท
เจมส์ คิดถึง น้องแคมป์

In [ ]:
print_feelings('เจมส์',list_friends,feeling='รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

In [ ]:
print_feelings('เจมส์',list_friends,'รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

จบ 24 มิย 67

## Dictionary (Data Structure)

โครงสร้างข้อมูลที่จัดเก็บข้อมูลโดยการอ้างอิงโดย text

วงเล็บ ```{``` ```}``` Curly Brackets

In [ ]:
Ex_dict_A = {'memberA':[1,2,3],'memberB':8,'memberC':'abc'}

In [ ]:
Ex_dict_A

{'memberA': [1, 2, 3], 'memberB': 8, 'memberC': 'abc'}

In [ ]:
Ex_dict_A['memberA']

[1, 2, 3]

In [ ]:
Ex_dict_A['memberA'][1]

2

### looping in dict
#### ทำการวนลูปในค่า dict โดยที่เรากำหนดตัว key และvalueขึ้นมา ได้ดังนี้

In [ ]:
name_grade = {'พันทิพา' : 'B','ศุภนิตา' : 'C','ปนัดดา' : 'A','ทรงกลด' : 'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [ ]:
name_grade['ปนัดดา']

'A'

In [ ]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [ ]:
name_grade.values()

dict_values(['B', 'C', 'A', 'F'])

In [ ]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [ ]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

## HW2 Example

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],
    ["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],
    ["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],
    ["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],
    ["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"]]

def time_to_second(time1,time2):
    time1_list = time1.split(':')
    time2_list = time2.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    time2_sec = int(time2_list[0])*3600 + int(time2_list[1])*60 + int(time2_list[2])
    return(time2_sec - time1_sec)

for time1,time2 in time_list:
  diff_seconds = time_to_second(time1,time2)
  print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds

In [ ]:
time1 = "18:09:10"
time2 = "00:25:10"
diff_seconds = time_to_second(time1,time2)
print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 00:25:10 is -63840 seconds

# Conditional statemet คือ ประโยคเงื่อนไข

ชนิดตัวแปรที่เกี่ยวข้อ Boolean (True,False)

In [ ]:
condition_1 = True
condition_2 = False

### การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```Python
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

## ==, !=,>=,<=,<,> Operator ของตัวเลข

In [ ]:
def time_to_second(time1):
    time1_list = time1.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    return time1_sec

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"],["18:51:21", "00:17:21"],
    ["17:05:17", "11:09:17"],]

# HW3 เพิ่ม ฟังก์ชั่นแปลงวินาทีกลับมาเป็น ชั่วโมง นาที วินาที โดยไม่ใช่ฟังก์ชั่นช่วยเหลืออื่นๆของ python (~~import~~) ถ้าส่วนของ ชั่วโมง นาที วินาที เป็นศูนย์ ไม่ต้องแสดง

# HW 4
#### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)
#### วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

##### กำหนด
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
      แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

## ```&```, ```|```, ```in```, ```is```   :  Operator อื่นๆ

In [ ]:
if (1>0) & (0>-1):
    print(True & True)

True

In [ ]:
if 'T' in 'Thanapong':
    print('T in Thanapong')

T in Thanapong

In [ ]:
def return_nothing(x):
    x = x+1

In [ ]:
a = return_nothing(5)

In [ ]:
if a is None:
    print('x is null')

x is null

# Finish